{% extends 'base.html' %}
{% load static %} {% load widget_tweaks %}

{% block content %}

<div id="contact-page" class="card mb-5">
    <div class="card-body p-5">
        <div class="d-flex align-items-center">
            <div>
                <!-- Header -->
                <div class="mb-3">
                    <!-- Title -->
                    <h2 class="mb-0">{{ contact.title }}</h2>
                </div>
                <!-- Body -->
                <div id="body">
                    <p>{{ contact.body|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedback-page" class="card mb-5">
    <div class="card-body p-5">
        <div>
            <!-- Header -->
            <div class="mb-3">
                <!-- Title -->
                <h2 class="mb-0">Обратная связь</h2>
            </div>
            <!-- Body -->
            <div id="body">
                <form action="." method="POST"  >
                {% csrf_token %}
                {{ feedback_form.media }}
                {% for field in feedback_form.visible_fields %}
                    {{ field.label_tag }}
                    <br>
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                {% endfor %}
                {{ feedback_form.captcha.errors }}
                <p><button class="btn btn-primary mb-3 mb-lg-0" type="submit">Отправить</button></p>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}