{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}
    <input class="btn btn-primary" type="submit" value="{% translate 'Save' %}" name="_save">

{% endif %}
{% if show_save_as_new %}
    <input class="btn btn-primary" type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">
{% endif %}
{% if show_save_and_add_another %}
    <input class="btn btn-primary" type="submit" value="{% translate 'Save and add another' %}" name="_addanother">
{% endif %}
{% if show_save_and_continue %}
    <input class="btn btn-primary" type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">
{% endif %}
{% if show_close %}
    <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-info btn-icon-split closelink">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">{% translate 'Close' %}</span>
    </a>
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="btn btn-danger btn-circle">
        <i class="fas fa-trash"></i>
    </a>
{% endif %}
{% endblock %}
</div>
