{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
                    <div class="single-grid">
                        <h2> {{ post.title }} {{ post.number_of_views }}</h2>
                        <p>{{ post.body|safe }}</p>
                    </div>
                    {% include 'publications/similar_posts.html' %}
                    {% include 'publications/comment.html' with comment_form=comment_form %}
{% endblock content %}