            <!-- Heading -->
            <div class="sidebar-heading">
                Администрирование сайта
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#publications" aria-expanded="true" aria-controls="publications">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Публикации в блоге </span>
                </a>
                <div id="publications" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin:publications_post_changelist' %}">Посты</a>
                        <a class="collapse-item" href="{% url 'admin:publications_category_changelist' %}">Категории</a>
                        <a class="collapse-item" href="{% url 'admin:publications_comment_changelist' %}">Коментарии</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pages" aria-expanded="true" aria-controls="pages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Страницы сайта </span>
                </a>
                <div id="pages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin:pages_about_changelist' %}">О блоге</a>
                        <a class="collapse-item" href="{% url 'admin:pages_contact_changelist' %}">Контакты</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">