{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
            <div class="contact-info">
                <h2>{{ contact.title }}</h2>
                <p>{{ contact.body|safe }}</p>
            </div>
            <div class="contact-info">
                <h2>Обратная связь</h2>
            </div>

			<div class="content-form">
				<form action="." method="post">
					{% csrf_token %}
					{% for field in feedback_form.visible_fields %}
						{{ field.label_tag }}
						{% render_field field class="form-control" %}
						{% if field.help_text %}
							<small class="form-text text-muted">{{ field.help_text }}</small>
						{% endif %}
					{% endfor %}
							
					{{ feedback_form.captcha.errors }}
					<script src="{% static 'js/reload_captcha.js' %}"></script>
					<a href="" class="captcha-refresh">Не могу распознать текст на картинке. Обновить картинку.</a>
					<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

					<p><input type="submit" value="ОТПРАВИТЬ"></p>
				</form>
			</div>
{% endblock content %}