{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
                <div class="single-grid">
                    <h2> {{ post.title }} </h2>
                    <p>{{ post.body|safe }}</p>
                </div>
                <ul class="comment-list">
                    <h5 class="post-author_head">Автор <a href="#" title="Автор {{ post.author }}" rel="author">{{ post.author }}</a></h5>
                    <li><img src="{% static 'images/avatar.png'%}" class="img-responsive" alt="">
                        <div class="desc">
                            <p>Просмотреть все сообщения от: <a href="#" title="Автор {{ post.author }}" rel="author">{{ post.author }}</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
{% endblock content %}