{% extends 'base.html' %}
{% load static %}

{% block content %}
                        {% for post in posts %}
                        <div class="content-grid-info">
                            <div class="post-info">
                                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                <p>Автор: {{ post.author }}  {{ post.date_published }}</p>
                                <p> Категория 
                                <a href="{% url 'publications:post_category1' category.slug %}">{{ post.category }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% comment %} <p>Категория: <a href="{% url "publications:post_category1"  %}">{{ post.category }}</a> {% endcomment %}
                                {% comment %} {% for category in post.category.all %}
                                    <a href="{% url "publications:post_list_by_category" tag.slug %}">{{ tag.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %} category.slug{% endcomment %}
                                 
                                <p>Теги:
                                {% for tag in post.tags.all %}
                                    <a href="{% url "publications:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                <p>{{ post.body|truncatewords:50|safe }}</p>
                                <a href="{{ post.get_absolute_url }}"><span></span>Читать дальше</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% include 'publications/pagination.html' with page=posts %}
{% endblock content %}
