{% extends 'base.html' %}
{% load static %}

{% block content %}
                        {% for post in posts %}
                        <div class="content-grid-info">
                            <div class="post-info">
                                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> {{ post.date_published }} / Автор: {{ post.author }}</h4>

                                <p>{{ post.body|truncatewords_html:50|safe }}</p>
                                <a href="{{ post.get_absolute_url }}"><span></span>Читать дальше</a>
                            </div>
                        </div>
                        {% endfor %}
{% endblock content %}
